:root{
    --ops: 'Merriweather', serif;
    --ops1: 'Open Sans', sans-serif;
    --bree: 'Bree Serif', serif;
    --dorado:#FFE05E;
    --VERDE_OSCURO:#0a4436;
    --VERDE_CLARO: #208e1b;
    --GRIS_CLARO: #bcbcbc;
    --GRIS_OSCURO: #9e9e9e;
    --GRISO_MEDIO: #a5a5a5;
    --DORADO_OSCURO: #987013;
    --DORADO_CLARO: #ffea80;
    --NEGRO: #262626;
  }
.container__fraccionamiento{
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    .fraccionamiento__container{
        width: 100%;
        padding-left: 10%;
        display: flex;
        justify-content: center;
        
        
        .siider__fraccionamiento{
            display: flex;
            width: 100%;
        }
        .container__fraccionamiento{
            margin-top: -15%;

            
            .container__fraccionamiento__texto{
                border-radius: 5% 0% 0% 5%;
                background: white;
                box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                padding: 10%;
                width: 150%;
                margin-left: -50%;
                position: relative;
                z-index: 10;
                
               
                .titulo__fraccionamiento{
                    font-size: 3em;
                    font-weight: 800;
                    letter-spacing: 1px;
                    font-family: var(--ops);
                    color: var(--VERDE_OSCURO);
                    margin-bottom: 5%;
                }
                .especificaciones__fraccionamiento{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;
                    .icono__fraccionamiento{
                        width: 10%;
                    }
                    .especificaciones__texto_fraccionamiento{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .especificaciones__texto__titulo{
                            color: var(--GRIS_CLARO);
                            font-family: var(--ops);
                            font-size: 0.9em;
                            font-weight: 800;
                          }
                          .especificaciones__texto__subtitulo{
                            color: var(--NEGRO);
                            font-family: var(--ops1);
                            font-size: 0.9em;
                            font-weight: 800;
                            
                          }
                    }
                }
            }
            
    
        }

    }
    
    
}
.decoracionrec{
    width: 20%;
    margin-left: 80%;
    margin-top: -10%;
    margin-bottom: 5%;
    
    .decoracionrec__verde{
        width: 80%;
        margin-top: -7%;
        margin-left: -20%;
        height: 5vh;
        background-color:#0a4436;
        position: relative;
        z-index: 1;

    }
    .decoracionrec__dorado{
        width: 100%;
        height: 8vh;
        background: linear-gradient(to right, #987013, #ffea80, #ffea80,#987013); 

    }
}
.container__fraccionamiento1{
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: -2%;
    .fraccionamiento__container1{
        width: 100%;
        padding-left: 10%;
        display: flex;
        justify-content: center;
        
        
        .siider__fraccionamiento1{
            display: flex;
            width: 100%;
        }
        .container__fraccionamiento1{
            margin-top: -14%;
            margin-left: -2%;

            
            .container__fraccionamiento__texto1{
                border-radius: 0% 5% 5% 0%;
                background: white;
                box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                padding:10% 10% 10% 20%;
                width: 98%;
                margin-left: -30%;
                position: relative;
                z-index: 10;
                
               
                .titulo__fraccionamiento1{
                    font-size: 3em;
                    font-weight: 800;
                    letter-spacing: 1px;
                    font-family: var(--ops);
                    color: var(--VERDE_OSCURO);
                    margin-bottom: 5%;
                }
                .especificaciones__fraccionamiento1{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;
                    .icono__fraccionamiento1{
                        width: 10%;
                    }
                    .especificaciones__texto_fraccionamiento1{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .especificaciones__texto__titulo1{
                            color: var(--GRIS_CLARO);
                            font-family: var(--ops);
                            font-size: 0.9em;
                            font-weight: 800;
                          }
                          .especificaciones__texto__subtitulo1{
                            color: var(--NEGRO);
                            font-family: var(--ops1);
                            font-size: 0.9em;
                            font-weight: 800;
                            
                          }
                    }
                }
            }
            
    
        }

    }
    
}

.container__fraccionamiento2{
    width: 100%;
    background: linear-gradient( 20deg, var(--VERDE_OSCURO), var(--VERDE_CLARO)); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding-top: 3%;
    .fraccionamiento__container{
        width: 100%;
        padding-left: 10%;
        display: flex;
        justify-content: center;
        
        
        .siider__fraccionamiento{
            display: flex;
            width: 100%;
        }
        .container__fraccionamiento{
            margin-top: -13%;

            
            .container__fraccionamiento__texto{
                border-radius: 5% 0% 0% 5%;
                background: white;
                box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                padding: 10%;
                width: 150%;
                margin-left: -50%;
                position: relative;
                z-index: 10;
                
               
                .titulo__fraccionamiento{
                    font-size: 3em;
                    font-weight: 800;
                    letter-spacing: 1px;
                    font-family: var(--ops);
                    color: var(--VERDE_OSCURO);
                    margin-bottom: 1%;
                }
                .especificaciones__fraccionamiento{
                    display: flex;
                    gap: 30px;
                    margin-bottom: 10px;
                    .icono__fraccionamiento{
                        width: 10%;
                    }
                    .especificaciones__texto_fraccionamiento{
                        display: flex;
                        gap: 5px;
                        flex-direction: column;
                        justify-content: center;
                       
                        .especificaciones__texto__titulo1{
                            padding-right:40px ;
                            color: var(--GRIS_CLARO);
                            font-family: var(--ops);
                            font-size: 0.9em;
                            font-weight: 800;
                        }
                        .especificaciones__texto__titulo{
                            color: var(--GRIS_CLARO);
                            font-family: var(--ops);
                            font-size: 0.9em;
                            font-weight: 800;
                          }
                          .especificaciones__texto__subtitulo{
                            color: var(--NEGRO);
                            font-family: var(--ops1);
                            font-size: 0.9em;
                            font-weight: 800;
                            
                          }
                    }
                }
            }
            
    
        }

    }
    
    
}
.decoracionrec{
    width: 20%;
    margin-left: 80%;
    margin-top: -8%;
    margin-bottom: 5%;
    
    .decoracionrec__dorado2{
        width: 70%;
        height: 8vh;
        margin-left: 30%;
        background: linear-gradient(to right, #987013, #ffea80, #ffea80,#987013); 

    }
}
.container__fraccionamiento3{
    width: 100%;
    background: linear-gradient( -140deg, var(--VERDE_OSCURO), var(--VERDE_CLARO));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.2%;
    margin-bottom: -2%;
    padding-top: 5%;
    padding-bottom: 2%;
    .fraccionamiento__container1{
        width: 100%;
        padding-left: 10%;
        padding-top: -5%;
        display: flex;
        justify-content: center;
        
        
        .siider__fraccionamiento1{
            display: flex;
            width: 100%;
            margin-left: -50%;
        }
        .container__fraccionamiento1{
            margin-top: -15%;

            
            .container__fraccionamiento__texto1{
                border-radius: 0% 5% 5% 0%;
                background: white;
                box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                padding:5% 5% 5% 5%;
                width: 50%;
                margin-left: -72%;
                position: relative;
                z-index: 10;
                margin-top: 6%;
                
               
                .titulo__fraccionamiento1{
                    font-size: 3em;
                    font-weight: 800;
                    letter-spacing: 1px;
                    font-family: var(--ops);
                    color: var(--VERDE_OSCURO);
                    margin-bottom: 5%;
                }
                .especificaciones__fraccionamiento1{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;
                    .icono__fraccionamiento1{
                        width: 10%;
                    }
                    .especificaciones__texto_fraccionamiento1{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .especificaciones__texto__titulo1{
                            color: var(--GRIS_CLARO);
                            font-family: var(--ops);
                            font-size: 0.9em;
                            font-weight: 800;
                          }
                          .especificaciones__texto__titulo2{
                            padding-right:40px ;
                            color: var(--GRIS_CLARO);
                            font-family: var(--ops);
                            font-size: 0.9em;
                            font-weight: 800;
                           

                          }
                          .especificaciones__texto__subtitulo1{
                            color: var(--NEGRO);
                            font-family: var(--ops1);
                            font-size: 0.9em;
                            font-weight: 800;
                            
                          }
                    }
                }
            }
            
    
        }

    }
    
}
.decoracionrec1{
    width: 20%;
    margin-right: 80%;
    margin-top: 0.3%;
    margin-bottom: 5%;
    
    .decoracionrec__dorado3{
        width: 60%;
        height: 6vh;
        
        background: linear-gradient(to right, #987013, #ffea80, #ffea80,#987013); 

    }
}
.container__fraccionamiento4{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    padding-top: 3%;
    margin-left: -4%;
    .fraccionamiento__container{
        width: 100%;
        padding-left: 10%;
        display: flex;
        justify-content: center;
        
        
        .siider__fraccionamiento{
            display: flex;
            width: 100%;
        }
        .container__fraccionamiento{
            margin-top: -15%;
           

            
            .container__fraccionamiento__texto{
                border-radius: 5% 0% 0% 5%;
                background: white;
                box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                padding: 5%;
                width: 180%;
                margin-left: -50%;
                position: relative;
                z-index: 10;
                
               
                .titulo__fraccionamiento{
                    font-size: 3em;
                    font-weight: 800;
                    letter-spacing: 1px;
                    font-family: var(--ops);
                    color: var(--VERDE_OSCURO);
                    margin-bottom: 5%;
                }
                .especificaciones__fraccionamiento{
                    display: flex;
                    gap: 30px;
                    margin-bottom: 10px;
                    .icono__fraccionamiento{
                        width: 10%;
                    }
                    .especificaciones__texto_fraccionamiento{
                        display: flex;
                        gap: 5px;
                        flex-direction: column;
                        justify-content: center;
                       
                        .especificaciones__texto__titulo1{
                            padding-right:40px ;
                            color: var(--GRIS_CLARO);
                            font-family: var(--ops);
                            font-size: 0.9em;
                            font-weight: 800;
                        }
                        .especificaciones__texto__titulo{
                            color: var(--GRIS_CLARO);
                            font-family: var(--ops);
                            font-size: 0.9em;
                            font-weight: 800;
                          }
                          .especificaciones__texto__subtitulo{
                            color: var(--NEGRO);
                            font-family: var(--ops1);
                            font-size: 0.9em;
                            font-weight: 800;
                            
                          }
                    }
                }
            }
            
    
        }

    }
    
    
}
.decoracionrec2{
    width: 20%;
    margin-left: 80%;
    margin-top: -10%;
    margin-bottom: 5%;
    
    .decoracionrec__verde{
        width: 90%;
        margin-top: -7%;
        margin-left: 10%;
        height: 4vh;
        background-color:#0a4436;
        position: relative;
        z-index: 1;

    }
    .decoracionrec__dorado{
        width: 70%;
        height: 8vh;
        margin-left: 30%;
        background: linear-gradient(to right, #987013, #ffea80, #ffea80,#987013); 

    }
}
.container__fraccionamiento5{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.2%;
    margin-bottom: -2%;
    padding-top: 10%;
    padding-bottom: 2%;
    .fraccionamiento__container1{
        width: 100%;
        padding-left: 10%;
        display: flex;
        justify-content: center;
        
        
        .siider__fraccionamiento1{
            display: flex;
            width: 100%;
        }
        .container__fraccionamiento1{
            margin-top: -15%;

            
            .container__fraccionamiento__texto1{
                border-radius: 0% 5% 5% 0%;
                background: white;
                box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                padding:10% 10% 10% 20%;
                width: 150%;
                margin-left: -50%;
                position: relative;
                z-index: 10;
                
               
                .titulo__fraccionamiento1{
                    font-size: 3em;
                    font-weight: 800;
                    letter-spacing: 1px;
                    font-family: var(--ops);
                    color: var(--VERDE_OSCURO);
                    margin-bottom: 5%;
                }
                .especificaciones__fraccionamiento1{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;
                    .icono__fraccionamiento1{
                        width: 10%;
                    }
                    .especificaciones__texto_fraccionamiento1{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .especificaciones__texto__titulo1{
                            color: var(--GRIS_CLARO);
                            font-family: var(--ops);
                            font-size: 0.9em;
                            font-weight: 800;
                          }
                          .especificaciones__texto__titulo2{
                            padding-right:40px ;
                            color: var(--GRIS_CLARO);
                            font-family: var(--ops);
                            font-size: 0.9em;
                            font-weight: 800;
                           

                          }
                          .especificaciones__texto__subtitulo1{
                            color: var(--NEGRO);
                            font-family: var(--ops1);
                            font-size: 0.9em;
                            font-weight: 800;
                            
                          }
                    }
                }
            }
            
    
        }

    }
    
}
.decoracionrec3{
    width: 20%;
    margin-left: -80%;
    margin-top: -8%;
    
    .decoracionrec__verde{
        width: 100%;
        margin-top: -7%;
        height: 5vh;
        background-color:#0a4436;
        position: relative;
        z-index: 1;

    }
    .decoracionrec__dorado{
        width: 80%;
        height: 7.5vh;
        background: linear-gradient(to right, #987013, #ffea80, #ffea80,#987013); 

    }
}
.container__fraccionamiento6{
    width: 100%;
    background: linear-gradient( 20deg, var(--VERDE_OSCURO), var(--VERDE_CLARO)); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    padding-top: 3%;
    .fraccionamiento__container{
        width: 100%;
        padding-left: 10%;
        display: flex;
        justify-content: center;
        
        
        .siider__fraccionamiento{
            display: flex;
            width: 100%;
        }
        .container__fraccionamiento{
            margin-top: -15%;

            
            .container__fraccionamiento__texto{
                border-radius: 5% 0% 0% 5%;
                background: white;
                box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                padding: 10%;
                width: 150%;
                margin-left: -50%;
                position: relative;
                z-index: 10;
                
               
                .titulo__fraccionamiento{
                    font-size: 3em;
                    font-weight: 800;
                    letter-spacing: 1px;
                    font-family: var(--ops);
                    color: var(--VERDE_OSCURO);
                    margin-bottom: 5%;
                }
                .especificaciones__fraccionamiento{
                    display: flex;
                    gap: 30px;
                    margin-bottom: 10px;
                    .icono__fraccionamiento{
                        width: 10%;
                    }
                    .especificaciones__texto_fraccionamiento{
                        display: flex;
                        gap: 5px;
                        flex-direction: column;
                        justify-content: center;
                       
                        .especificaciones__texto__titulo1{
                            padding-right:40px ;
                            color: var(--GRIS_CLARO);
                            font-family: var(--ops);
                            font-size: 0.9em;
                            font-weight: 800;
                        }
                        .especificaciones__texto__titulo{
                            color: var(--GRIS_CLARO);
                            font-family: var(--ops);
                            font-size: 0.9em;
                            font-weight: 800;
                          }
                        .especificaciones__texto__titulo2{
                            padding-right:50px ;
                            color: var(--GRIS_CLARO);
                            font-family: var(--ops);
                            font-size: 0.9em;
                            font-weight: 800;

                          }
                          .especificaciones__texto__subtitulo{
                            color: var(--NEGRO);
                            font-family: var(--ops1);
                            font-size: 0.9em;
                            font-weight: 800;
                            
                          }
                          
                    }
                }
            }
            
    
        }

    }
    
    
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#0a4436;
    padding-top: 5%;
    margin-bottom: 10%;
    gap: 30px;
    .footer1{
        display: flex;
        margin-bottom: 3%;
        gap: 20px;
        .footer__text{
            font-size: 3em;
            font-weight: 500;
            letter-spacing: 1px;
            font-family: 'Bree Serif', serif;;
            color: #ffea80;
            border-bottom: var(--DORADO_CLARO) 3px solid;
            
            
        }
        .footer__text2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: var(--ops);
            font-weight: 50;
            letter-spacing: 2.5px;
            line-height: 20px;
            color: #ffea80;
    
            .titulo{
                font-size: 1em;
    
            }
            .subtitulo{
                font-size: 0.5em;
               
    
            }
    
        }

    }
    .footer__terminos{
        display: flex;
        font-family: var(--ops);
        color: #bcbcbc;
        font-size: 0.9em;
        width: 50%;
        margin-bottom: 3%;
        justify-content: center;
        align-items: center;
        gap: 4%;
        .terminos{ 
            border-right: #bcbcbc 2px solid;
            width: 25%;
        }
        
    }
    
}
.footer__drop{
    width: 100%;
    background-color: #0472FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    .drop{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        .sub{
            font-size: 1em;
            font-weight: 500;
            letter-spacing: 1px;
            font-family: var(--bree);
            font-style: italic;

        }
        .sub1{
            font-size: 0.8em;
            font-weight: 800;
            letter-spacing: 1px;
            font-family: var(--ops);

        }

    }
}


@media screen and (max-width: 991px){
    .decoracionrec{
        display: none;
    }
    .decoracionrec1{
        display: none;
    }
    .decoracionrec2{
        display: none;
    }
    .decoracionrec3{
        display: none;
    }
    .container__fraccionamiento{
        width: 75%;
        margin-left: -15%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
        .fraccionamiento__container{
            width: 125%;
            padding-left: 10%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            
            .siider__fraccionamiento{
                display: flex;
                width: 100%;
            }
            .container__fraccionamiento{
                
                margin-left: 280px;
                
    
                
                .container__fraccionamiento__texto{
                    border-radius: 5% 5% 5% 5%;
                    background: white;
                    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                    padding: -5%;
                    width: 50px;
                    margin-left: -100%;
                    position: relative;
                    z-index: 10;
                    margin-top: 20%;
                    
                   
                    .titulo__fraccionamiento{
                        font-size: 3em;
                        font-weight: 800;
                        letter-spacing: 1px;
                        font-family: var(--ops);
                        color: var(--VERDE_OSCURO);
                        margin-bottom: 5%;
                    }
                    .especificaciones__fraccionamiento{
                        display: flex;
                        gap: 20px;
                        margin-bottom: 20px;
                        .icono__fraccionamiento{
                            width: 10%;
                        }
                        .especificaciones__texto_fraccionamiento{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .especificaciones__texto__titulo{
                                color: var(--GRIS_CLARO);
                                font-family: var(--ops);
                                font-size: 0.9em;
                                font-weight: 800;
                              }
                              .especificaciones__texto__subtitulo{
                                color: var(--NEGRO);
                                font-family: var(--ops1);
                                font-size: 0.9em;
                                font-weight: 800;
                                
                              }
                        }
                    }
                    .especificaciones__fraccionamiento1{
                        display: flex;
                        gap: 20px;
                        margin-bottom: 20px;
                        margin-left: 300px;
                        margin-top: -250px;
                        .icono__fraccionamiento{
                            width: 20%;
                        }
                        .especificaciones__texto_fraccionamiento{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .especificaciones__texto__titulo{
                                color: var(--GRIS_CLARO);
                                font-family: var(--ops);
                                font-size: 0.9em;
                                font-weight: 800;
                              }
                              .especificaciones__texto__subtitulo{
                                color: var(--NEGRO);
                                font-family: var(--ops1);
                                font-size: 0.9em;
                                font-weight: 800;
                                
                              }
                        }
                    }
                    .especificaciones__fraccionamiento2{
                        display: flex;
                        gap: 20px;
                        margin-bottom: 300px;
                        margin-left: 300px;
                        margin-top: -200px;
                        .icono__fraccionamiento{
                            width: 20%;
                        }
                        .especificaciones__texto_fraccionamiento{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .especificaciones__texto__titulo{
                                color: var(--GRIS_CLARO);
                                font-family: var(--ops);
                                font-size: 0.9em;
                                font-weight: 800;
                              }
                              .especificaciones__texto__subtitulo{
                                color: var(--NEGRO);
                                font-family: var(--ops1);
                                font-size: 0.9em;
                                font-weight: 800;
                                
                              }
                        }
                    }
                    
                    
                }
                
        
            }
    
        }
        
        
    }
    
    .container__fraccionamiento1{
        
        .fraccionamiento__container1{
            flex-direction: column;
          
            
            .siider__fraccionamiento1{
                display: flex;
                width: 105%;
                margin-left: -2%;
            }
            .container__fraccionamiento1{
                margin-top: -1%;
                margin-bottom: 8%;
    
                
                .container__fraccionamiento__texto1{
                    border-radius: 5% 5% 5% 5%;
                    width: 100%;
                    margin-left: -3%;
                    margin-right: 6%;
                    
                    .titulo__fraccionamiento1{
                        font-size: 3em;
                        font-weight: 800;
                        letter-spacing: 1px;
                        font-family: var(--ops);
                        color: var(--VERDE_OSCURO);
                        margin-bottom: 5%;
                        margin-left: -15%;
                    }
                    
                
                    .especificaciones__fraccionamiento1{
                        width: 95%;    
                        margin-left: -20%;
                        .icono__fraccionamiento1{
                            width: 10%;
                        }
                        
                    }
                    .especificaciones__fraccionamiento2{
                        display: flex;
                        gap: 20px;
                        
                        margin-left: 20%;
                        margin-top: -39%;
                        .icono__fraccionamiento{
                            width: 900px;
                        }
                        .especificaciones__texto_fraccionamiento{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .especificaciones__texto__titulo{
                                color: var(--GRIS_CLARO);
                                font-family: var(--ops);
                                font-size: 0.9em;
                                font-weight: 800;
                              }
                              .especificaciones__texto__subtitulo{
                                color: var(--NEGRO);
                                font-family: var(--ops1);
                                font-size: 0.9em;
                                font-weight: 800;
                                
                              }
                        }
                        
                    }
                    .especificaciones__fraccionamiento3{
                        display: flex;
                        gap: 20px;
                        margin-top: -2%;
                        margin-left: 20%;
                        margin-bottom: 20%;
                        
                        .icono__fraccionamiento{
                            width: 33%;
                        }
                        .especificaciones__texto_fraccionamiento{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .especificaciones__texto__titulo{
                                color: var(--GRIS_CLARO);
                                font-family: var(--ops);
                                font-size: 0.9em;
                                font-weight: 800;
                              }
                              .especificaciones__texto__subtitulo{
                                color: var(--NEGRO);
                                font-family: var(--ops1);
                                font-size: 0.9em;
                                font-weight: 800;
                                
                              }
                        }
                        
                    }
                }
                
        
            }
    
        }
        
    }
    .container__fraccionamiento2{
        padding-bottom: 6%;
        
        .fraccionamiento__container{
            width: 100%;
            padding-left: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            
            .siider__fraccionamiento{
                display: flex;
                width: 100%;
            }
            .container__fraccionamiento{
                margin-top: 1%;
    
                
                .container__fraccionamiento__texto{
                    border-radius: 5% 5% 5% 5%;
                    background: white;
                    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                    padding: 10%;
                    width: 100%;
                    margin-left: -1%;
                    margin-right: 5%;
                    position: relative;
                    z-index: 10;
                    
                   
                    .titulo__fraccionamiento{
                        font-size: 3em;
                        font-weight: 800;
                        letter-spacing: 1px;
                        font-family: var(--ops);
                        color: var(--VERDE_OSCURO);
                        margin-bottom: 5%;
                    }
                    .especificaciones__fraccionamiento{
                        display: flex;
                        gap: 30px;
                        margin-bottom: 10px;
                        .icono__fraccionamiento{
                            width: 10%;
                        }
                        .especificaciones__texto_fraccionamiento{
                            display: flex;
                            gap: 5px;
                            flex-direction: column;
                            justify-content: center;
                           
                            .especificaciones__texto__titulo1{
                                padding-right:110px ;
                                color: var(--GRIS_CLARO);
                                font-family: var(--ops);
                                font-size: 0.9em;
                                font-weight: 800;
                            }
                            .especificaciones__texto__titulo{
                                padding-right:70px ;
                                color: var(--GRIS_CLARO);
                                font-family: var(--ops);
                                font-size: 0.9em;
                                font-weight: 800;
                              }
                              .especificaciones__texto__subtitulo{
                                color: var(--NEGRO);
                                font-family: var(--ops1);
                                font-size: 0.9em;
                                font-weight: 800;
                                
                              }
                        }
                    }
                }
                
        
            }
    
        }
        
        
    }
    .container__fraccionamiento3{
        margin-bottom: 5%;
        
        .fraccionamiento__container1{
            flex-direction: column;
            
            
            .siider__fraccionamiento1{
                display: flex;
                width: 100%;
            }
            .container__fraccionamiento1{
                margin-top: 1%;
                margin-bottom: 0.2%;
    
                
                .container__fraccionamiento__texto1{
                    border-radius: 5% 5% 5% 5%;
                    background: white;
                    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                    padding:10% 10% 10% 10%;
                    width: 100%;
                    margin-left: 1%;
                    margin-right: 5%;
                    position: relative;
                    z-index: 10;
                    
                   
                    .titulo__fraccionamiento1{
                        font-size: 3em;
                        font-weight: 800;
                        letter-spacing: 1px;
                        font-family: var(--ops);
                        color: var(--VERDE_OSCURO);
                        margin-bottom: 5%;
                    }
                    .especificaciones__fraccionamiento1{
                        display: flex;
                        gap: 20px;
                        margin-bottom: 20px;
                        .icono__fraccionamiento1{
                            width: 10%;
                        }
                        .especificaciones__texto_fraccionamiento1{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .especificaciones__texto__titulo1{
                                color: var(--GRIS_CLARO);
                                font-family: var(--ops);
                                font-size: 0.9em;
                                font-weight: 800;
                              }
                              .especificaciones__texto__titulo2{
                                padding-right:120px ;
                                color: var(--GRIS_CLARO);
                                font-family: var(--ops);
                                font-size: 0.9em;
                                font-weight: 800;
                               
    
                              }
                              .especificaciones__texto__subtitulo1{
                                padding-right:160px ;
                                color: var(--NEGRO);
                                font-family: var(--ops1);
                                font-size: 0.9em;
                                font-weight: 800;
                                
                              }
                        }
                    }
                }
                
        
            }
    
        }
        
    }
    
    .container__fraccionamiento5{
        
        .fraccionamiento__container1{
            flex-direction: column;
            
            
            
            .siider__fraccionamiento1{
                display: flex;
                width: 100%;
            }
            .container__fraccionamiento1{
                margin-top: 1%;
    
                
                .container__fraccionamiento__texto1{
                    border-radius: 5% 5% 5% 5%;
                    background: white;
                    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                    padding:10% 10% 10% 10%;
                    width: 100%;
                    margin-left: -1%;
                    margin-right: 5%;
                    margin-bottom: 2%;
                   
                    .titulo__fraccionamiento1{
                        font-size: 3em;
                        font-weight: 800;
                        letter-spacing: 1px;
                        font-family: var(--ops);
                        color: var(--VERDE_OSCURO);
                        margin-bottom: 5%;
                    }
                    .especificaciones__fraccionamiento1{
                        display: flex;
                        gap: 20px;
                        margin-bottom: 20px;
                        .icono__fraccionamiento1{
                            width: 10%;
                        }
                        .especificaciones__texto_fraccionamiento1{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .especificaciones__texto__titulo1{
                                color: var(--GRIS_CLARO);
                                font-family: var(--ops);
                                font-size: 0.9em;
                                font-weight: 800;
                              }
                              .especificaciones__texto__titulo2{
                                padding-right:40px ;
                                color: var(--GRIS_CLARO);
                                font-family: var(--ops);
                                font-size: 0.9em;
                                font-weight: 800;
                               
    
                              }
                              .especificaciones__texto__subtitulo1{
                                color: var(--NEGRO);
                                font-family: var(--ops1);
                                font-size: 0.9em;
                                font-weight: 800;
                                
                              }
                        }
                    }
                }
                
        
            }
    
        }
        
    }
   
    
    
}
@media screen and (max-width: 1770px){

    .container__fraccionamiento{
        
        .fraccionamiento__container{
          
            
            .container__fraccionamiento{
               
    
                
                .container__fraccionamiento__texto{
                   
                    width: 110%;
                    margin-left: -30%;
                    height: 450px;
                   
                    
                }
                
        
            }
    
        }
        
        
    }
    .container__fraccionamiento4{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        padding-top: 3%;
        margin-left: -4%;
        .fraccionamiento__container{
            width: 100%;
            padding-left: 10%;
            display: flex;
            justify-content: center;
            
            .container__fraccionamiento{
                margin-top: -15%;
               
    
                
                .container__fraccionamiento__texto{
                    border-radius: 5% 0% 0% 5%;
                    background: white;
                    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                    padding: 5%;
                    width: 200%;
                    margin-left: -50%;
                    margin-right: -15%;
                    position: relative;
                    z-index: 10;
                    
                   
                    .titulo__fraccionamiento{
                        font-size: 3em;
                        font-weight: 800;
                        letter-spacing: 1px;
                        font-family: var(--ops);
                        color: var(--VERDE_OSCURO);
                        margin-bottom: 5%;
                    }
                    .especificaciones__fraccionamiento{
                        display: flex;
                        gap: 30px;
                        margin-bottom: 10px;
                        .icono__fraccionamiento{
                            width: 10%;
                        }
                        .especificaciones__texto_fraccionamiento{
                            display: flex;
                            gap: 5px;
                            flex-direction: column;
                            justify-content: center;
                           
                            .especificaciones__texto__titulo1{
                                padding-right:40px ;
                                color: var(--GRIS_CLARO);
                                font-family: var(--ops);
                                font-size: 0.9em;
                                font-weight: 800;
                            }
                            .especificaciones__texto__titulo{
                                color: var(--GRIS_CLARO);
                                font-family: var(--ops);
                                font-size: 0.9em;
                                font-weight: 800;
                              }
                              .especificaciones__texto__subtitulo{
                                color: var(--NEGRO);
                                font-family: var(--ops1);
                                font-size: 0.9em;
                                font-weight: 800;
                                
                              }
                        }
                    }
                }
                
        
            }
    
        }
        
        
    }
    .decoracionrec{
        width: 15%;
        margin-left: 85%;
        margin-top: -10%;
        margin-bottom: 5%;
        
        .decoracionrec__verde{
            width: 80%;
            margin-top: -7%;
            margin-left: -20%;
            height: 3vh;
            background-color:#0a4436;
            position: relative;
            z-index: 1;
    
        }
        .decoracionrec__dorado{
            width: 100%;
            height: 6vh;
            background: linear-gradient(to right, #987013, #ffea80, #ffea80,#987013); 
    
        }
    }
    .container__fraccionamiento3{
        
        .fraccionamiento__container1{
          
            .container__fraccionamiento1{
                margin-top: -5%;
    
                
               
        
            }
    
        }
        
    }
}
@media screen and (max-width: 1803px){
    
    .container__fraccionamiento4{
      
        .fraccionamiento__container{
        
            .container__fraccionamiento{
                margin-top: -15%;
               
    
                
                .container__fraccionamiento__texto{
                    border-radius: 5% 0% 0% 5%;
                    background: white;
                    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                    padding: 10%;
                    width: 160%;
                    margin-left: -100%;
                    margin-right: -40%;
                    position: relative;
                    z-index: 10;
                    margin-top: 20%;
                    
                   
                    
                }
                
        
            }
    
        }
        
        
    }
    .container__fraccionamiento6{
        
        .fraccionamiento__container{
          
            .container__fraccionamiento{
                margin-top: -15%;
    
                
                .container__fraccionamiento__texto{
                    border-radius: 5% 0% 0% 5%;
                    background: white;
                    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                    padding: 10%;
                    width: 160%;
                    margin-left: -100%;
                    margin-right: -18%;
                    position: relative;
                    z-index: 10;
                    margin-top: 20%;
                    
                   
                
                   
                }
                
        
            }
    
        }
        
        
    }
}
@media screen and (max-width: 1756px){
    
    .container__fraccionamiento4{
      
        .fraccionamiento__container{
        
            .container__fraccionamiento{
                margin-top: -15%;
               
    
                
                .container__fraccionamiento__texto{
                    border-radius: 5% 0% 0% 5%;
                    background: white;
                    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                    padding: 10%;
                    width: 160%;
                    margin-left: -100%;
                    margin-right: -20%;
                    position: relative;
                    z-index: 10;
                    margin-top: 20%;
                    
                   
                    
                }
                
        
            }
    
        }
        
        
    }

}
@media screen and (max-width: 1698px){
    .container__fraccionamiento4{
      
        .fraccionamiento__container{
        
            .container__fraccionamiento{
                margin-top: -15%;
               
               
    
                
                .container__fraccionamiento__texto{
                    border-radius: 5% 0% 0% 5%;
                    background: white;
                    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                    padding: 10%;
                    width: 160%;
                    margin-left: -100%;
                    margin-right: -16%;
                    position: relative;
                    z-index: 10;
                    margin-top: 20%;
                    
                   
                    
                }
                
        
            }
    
        }
        
        
    }
    .container__fraccionamiento6{
        
        .fraccionamiento__container{
          
            .container__fraccionamiento{
                margin-top: -15%;
    
                
                .container__fraccionamiento__texto{
                    border-radius: 5% 0% 0% 5%;
                    background: white;
                    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                    padding: 10%;
                    width: 160%;
                    margin-left: -100%;
                    margin-right: -15%;
                    position: relative;
                    z-index: 10;
                    margin-top: 20%;
                    
                   
                
                   
                }
                
        
            }
    
        }
        
        
    }

}
@media screen and (max-width: 1684px){
    .container__fraccionamiento4{
      
        .fraccionamiento__container{
        
            .container__fraccionamiento{
                margin-top: -15%;
               
               
    
                
                .container__fraccionamiento__texto{
                    border-radius: 5% 0% 0% 5%;
                    background: white;
                    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                    padding: 10%;
                    width: 160%;
                    margin-left: -105%;
                    margin-right: -21%;
                    position: relative;
                    z-index: 10;
                    margin-top: 20%;
                    
                   
                    
                }
                
        
            }
    
        }
        
        
    }
    .container__fraccionamiento6{
        
        .fraccionamiento__container{
          
            .container__fraccionamiento{
                margin-top: -15%;
                
    
                
                .container__fraccionamiento__texto{
                    border-radius: 5% 0% 0% 5%;
                    background: white;
                    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                    padding: 10%;
                    width: 160%;
                    margin-left: -105%;
                    margin-right: -21%;
                    position: relative;
                    z-index: 10;
                    margin-top: 20%;
                    
                   
                
                   
                }
                
        
            }
    
        }
        
        
    }

    .decoracionrec2{
        width: 20%;
        margin-left: 80%;
        margin-top: -10%;
        margin-bottom: 5%;
        
        .decoracionrec__verde{
            width: 80%;
            margin-top: -7%;
            margin-left: 20%;
            height: 4vh;
            background-color:#0a4436;
            position: relative;
            z-index: 1;
    
        }
        .decoracionrec__dorado{
            width: 60%;
            height: 6vh;
            margin-left: 40%;
            background: linear-gradient(to right, #987013, #ffea80, #ffea80,#987013); 
    
        }
    }
    .decoracionrec3{
        width: 20%;
        margin-left: -80%;
        margin-top: -8%;
        
        .decoracionrec__verde{
            width: 90%;
            margin-top: -7%;
            height: 5vh;
            background-color:#0a4436;
            position: relative;
            z-index: 1;
    
        }
        .decoracionrec__dorado{
            width: 60%;
            height: 5vh;
            background: linear-gradient(to right, #987013, #ffea80, #ffea80,#987013); 
    
        }
    }

}
@media screen and (max-width: 1631px){
    .container__fraccionamiento{
        
        .fraccionamiento__container{
            
            .container__fraccionamiento{
                margin-top: -15%;
    
                
                .container__fraccionamiento__texto{
                    border-radius: 5% 0% 0% 5%;
                    background: white;
                    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                    padding: 10%;
                    width: 190%;
                    margin-left: -50%;
                    position: relative;
                    z-index: 10;
                    
                  
                }
                
        
            }
    
        }
        
        
    }
    
    .container__fraccionamiento4{
      
      
        .fraccionamiento__container{
        
            .container__fraccionamiento{
                margin-top: -15%;
               
               
    
                
                .container__fraccionamiento__texto{
                    border-radius: 5% 0% 0% 5%;
                    background: white;
                    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                    padding: 10%;
                    width: 150%;
                    margin-left: -100%;
                    margin-right: 25%;
                    position: relative;
                    z-index: 10;
                    margin-top: 20%;
                    
                   
                    
                }
                
        
            }
    
        }
        
        
    }
    .container__fraccionamiento6{
        
        
        .fraccionamiento__container{
          
            .container__fraccionamiento{
                margin-top: -15%;
                
    
                
                .container__fraccionamiento__texto{
                    border-radius: 5% 0% 0% 5%;
                    background: white;
                    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
                    padding: 5%;
                    width: 150%;
                    margin-left: -150%;
                    margin-right: 25%;
                    position: relative;
                    z-index: 10;
                    margin-top: 20%;
                    
                   
                
                   
                }
                
        
            }
    
        }
        
        
    }


    

}