.slider {
    box-sizing: border-box;
    height: 100%;
  }  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .thumbnails {
    display: flex;
    flex-direction: row;
    line-height: 0;
    
    
    li {
      flex: auto; 
      margin-left: -7.3%;
      
    }
  
    a {
      display: block;
    }
    
    img {
      width: 30vmin;
      height: 20vmin;
      object-fit: cover;
      object-position: top;
    }
  }
  
  .slides {
    overflow: hidden;
    width: 70%;
    height: 100vmin;
    
    li {
      width: -70%;
      height: 100vmin;
      position: absolute;
      margin-left: -5%;
      z-index: 1;
    }
    
    img {
      height: 100vmin;
      object-fit: cover;
      object-position: top;
    }
  }
  
  .slides li:target {
    z-index: 3;
   
  }
  
 
  
  @keyframes slide {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  
  @keyframes hidden {
    0% {
      z-index: 2;
    }
    100% {
      z-index: 2;
    }
  }


  .slider1 {
    box-sizing: border-box;
    height: 100%;
    
  }  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .thumbnails1 {
    display: flex;
    flex-direction: row;
    line-height: 0;
    
    
    li {
      flex: auto; 
      margin-left: -7.3%;
      
    }
  
    a {
      display: block;
    }
    
    img {
      width: 30vmin;
      height: 20vmin;
      object-fit: cover;
      object-position: top;
    }
  }
  
  .slides1 {
    overflow: hidden;
    width: -70%;
    height: 100vmin;
    
    li {
      width: -70%;
      height: 100vmin;
      position: absolute;
      margin-left: -5%;
      z-index: 1;
    }
    
    img {
      height: 100vmin;
      object-fit: cover;
      object-position: top;
    }
  }
  
  .slides1 li:target {
    z-index: 3;
   
  }
  
 
  
  @keyframes slide1 {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  
  @keyframes hidden {
    0% {
      z-index: 2;
    }
    100% {
      z-index: 2;
    }
  }